<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Students</h1>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Tel</th>
    <th scope="col">Email</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>076 123 4567</td>
    <td>student@gmail.com</td>
    <td>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-warning btn-sm">Update</button>
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#rawDeleteModal">Delete</button>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>076 123 4567</td>
    <td>student@gmail.com</td>
    <td>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-warning btn-sm">Update</button>
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#rawDeleteModal">Delete</button>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>076 123 4567</td>
    <td>student@gmail.com</td>
    <td>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-warning btn-sm">Update</button>
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#rawDeleteModal">Delete</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
